
<div class="page-header" filter-color="">
  <div class="page-header-image" style="background-image:url(assets/img/car_background2.jpg)"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <form class="form" method="" action="">
          <div class="header header-primary text-center">
            <div>
              <h2>FORMULA</h2>
            </div>
          </div>
          <div class="content">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
              <div class="input-group-prepend">
                <label *ngIf="teamService.getChosenTeam()[0]" class="input-group-text" style="padding-right:10px">{{teamService.getChosenTeam()[0].name}}</label>
              </div>
              <input #score1 type="text" class="form-control" placeholder="Team score..." style="padding-bottom: 30px;padding-top: 30px" (focus)="focus=true" (blur)="focus=false" >
            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
              <div class="input-group-prepend">
                <label *ngIf="teamService.getChosenTeam()[1]" class="input-group-text" style="padding-right:10px">{{teamService.getChosenTeam()[1].name}}</label>
              </div>
              <input #score2 type="text" class="form-control" placeholder="Team score..." style="padding-bottom: 30px;padding-top: 30px" (focus)="focus=true" (blur)="focus=false" >
            </div>
          </div>
          <div class="footer text-center">
            <a class="btn btn-primary btn-round btn-lg btn-block" (click)="saveScore(score1.value,score2.value)">Done</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="">
              Formula
            </a>
          </li>
          <li>
            <a href="">
              About Us
            </a>
          </li>
          <li>
            <a href="">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, organized by
        <a href="" target="_blank">Auto Club</a>.
      </div>
    </div>
  </footer>
</div>

