<div class="page-header">
  <div class="page-header-image" style="background-image:url(assets/img/spotlight_background.jpg); background-position: center"></div>
  <div class="container">
    <div #container class="col-md-3 content-center" style="width: 100%;padding-top: 200px">
      <h1>WINNER</h1>
      <h1 [fittext]="true" [activateOnInputEvents]="false" [modelToWatch]="winner" [container]="container" style="font-size: 200px">{{ winner.name | uppercase }}</h1>
      <a *ngIf="finalistLength==2" class="btn btn-success btn-round btn-lg" (click)="end()">END</a>
      <a *ngIf="finalistLength!=2" class="btn btn-success btn-round btn-lg" (click)="next()">NEXT</a>
    </div>
  </div>
</div>
