<div class="page-header" >
  <div class="page-header-image" style="background-image:url(assets/img/fight_background2.jpg); background-position: center"></div>
  <div class="container row offset-2">
    <div #container2 class="col-md-3" style="width: 100%;padding-top: 200px; height:400px">
      <h1 [fittext]="true" [activateOnInputEvents]="false" [modelToWatch]="chosenTeams" [container]="container2" style="font-size: 200px">{{chosenTeams[0].name | uppercase }}</h1>
    </div>
    <div class="col-md-5">
    </div>
    <div #container1 class="col-md-3 " style="width: 100%;padding-top: 200px;height:400px">
      <h1 [fittext]="true" [activateOnInputEvents]="false" [modelToWatch]="chosenTeams" [container]="container1" style="font-size: 200px">{{chosenTeams[1].name | uppercase }}</h1>
    </div>
  </div>
  <a [routerLink]="['/','score']" class="btn btn-success btn-round btn-lg btn-block">FINISH</a>
</div>

