<div class="page-header" >
  <div class="page-header-image" style="background-image:url(assets/img/track.jpg); background-position: center"></div>
  <div class="container">
    <div #container1 class="col-md-3 content-center" style="width: 100%;">
      <h1 style="color:darkgray">NOW PLAYING</h1>
      <h1 [fittext]="true" [activateOnInputEvents]="false" [modelToWatch]="chosenTeams" [container]="container1" style="color:darkgray;font-size: 200px">{{chosenTeams[0].name | uppercase }}</h1>
    </div>
  </div>
  <a [routerLink]="['/','formula-score']" class="btn btn-success btn-round btn-lg btn-block">FINISH</a>
</div>

