
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/car_background.jpg)"></div>
    <div class="container" style="padding-top: 200px">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark" style="margin-bottom: 10px">This is a dark list group item</li>
                <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
                <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
                <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
                <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="">
                            Formula
                        </a>
                    </li>
                    <li>
                        <a href="">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, organized by
                <a href="" target="_blank">Auto Club</a>.
            </div>
        </div>
    </footer>
</div>
